#particles-js{
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #025581;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}

canvas {
  display: block;
  /*vertical-align: bottom;*/
}

ul > li > a{
    color: #ffffff;
    font-size: 19px;
    font-family: 'Fira Mono', monospace;
    text-align:center;
    font-weight: bold;
    border-style: solid;
    border-width:thin;
    border-color: rgb(0, 0, 0);
    background-color: #1f2331;
  }
  
  ul > li > a:hover{
    color:#000000 !important;
    background-color: #bbd8d8;
  }

  h1.title{
      font-family:'Fira Mono',monospace;
      font-weight: bold;
  }

  div.paragraph{
      margin-top: 2%;
      margin-left: 20%;
      margin-right: 20%;
  }

p > a:hover{
      color: rgb(241, 0, 0);
  }

div.text-container{
    color: #272727;
    background-color: #dee0e0;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-style:solid;
    border-width: thick;
    box-shadow: #1f2331;
    margin-bottom:0;

}

img.logo {
    width: 100%;
    height : 100%;
    border-style: solid;
    border-color: #000;
    border-width: thin;
}

.nopadding{
    padding: 0 !important;
    margin: 0 !important;
  }