body{
    margin: 0;
    padding: 0;
}

footer{
    margin:0;
    padding:0;
}
#particles-js{
    background-color: #1850b6;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}
