@import url('https://fonts.googleapis.com/css?family=Fira+Mono:400');

#particles-js{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #141410;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}

canvas {
  display: block;
  vertical-align: bottom;
}

header{
  font-family: 'Fira Mono', monospace;
}

h1{
   color: #fff;
   font-size: 40px;
   font-style: normal;
   letter-spacing: -1px;
}

h2{
   color: #bbbbbb;
   font-size: 30px;
}

header > a>  img{
  border-radius: 45%;
  width: 18%;
}

ul > li > a{
  color: #ffffff;
  font-size: 19px;
  font-family: 'Fira Mono', monospace;
  text-align:center;
  font-weight: bold;
  background-color: #182827;
}

ul > li > a:hover{
  color:#000000 !important;
  background-color: #266D5A;
}

figure  > embed{
    max-width: 60%;
    max-height: 60%;
}

.nopadding{
  padding: 0 !important;
  margin: 0 !important;
}
